@import "/src/assets/styles/functions";

.restaurant-card {
  width: 200px;

  &_image-box {
    margin: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_title {
    margin: 0;
  }

  &_rating {
    display: flex;
    gap: gap(1);
    margin-top: gap(0.25);

    .user-item-rating .user-item-rating_content {
      padding: gap(0.25) gap(0.5);
    }
  }

  &_cuisine {
    display: inline-block;
    margin-top: gap(0.5);
  }
}