@import "/src/assets/styles/functions";

.food-details {
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_name {
    margin: 0;
  }

  &_rating {
    display: flex;
    gap: gap();
  }

  &_image {
    max-width: 100%;
    max-height: 250px;
  }

  &_description {
    margin: gap() 0 0;
    font-size: 16px;
  }

  &_image-wrapper,
  &_type,
  &_tags {
    margin: gap() 0 0;
  }
}