@import "/src/assets/styles/functions";

.user-item-rating {

  .user-item-rating_content {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 0;
    padding: gap(0.25);
  }
}