@import "/src/assets/styles/functions";

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: gap();
  margin-top: gap();

  > .ant-card {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}