@import "/src/assets/styles/functions";

.cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: gap();
  margin-top: gap();

  > .ant-card {
    width: 100%;
    max-width: 280px;
  }
}