@import "/src/assets/styles/functions";
@import "/src/assets/styles/variables";

.layout-header {
  display: flex;
  align-items: center;
  width: 100%;
  background: $light_gray;
}

.logo {
  padding: 0 gap();
}